* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 37%);
    --black: hsl(0, 0%, 7%);
    --paragraph: 14px;
}

body {
    display: block;
    text-align: center;
    margin: 1.25rem;
    background-color: var(--yellow);
    font-family: 'Figtree', 'sans-serif';
}

.card {
    width: 100%;
    max-width: 376px;
    background-color: var(--white);
    padding: 1.2rem; /* reduced the padding */
    border-radius: 1.1rem;
    box-shadow: 10px 10px 0px var(--black);
    margin: 2rem auto;
    outline: 1px solid #000;
    height: auto; /* changed the height to auto */

    /* added width contraints to stop shrinking below 375px */

    min-width: 375px;
}

img {
    width: 100%;
    display: block;
    border-radius: 0.625rem;
    margin-bottom: 1.8rem;
}


.published {
    display: block;
    text-align: left;
    margin-bottom: 1rem;
}

.button-top {
    width: 5.5rem;
    height: 1.8rem;
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: var(--paragraph);
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: var(--yellow);
}

.about {
    display:block;
    text-align: left;
}

.text {
    font-size: var(--paragraph);
    margin-top: 0.8rem;
    color: var(--light-gray);
    margin-block-end: 11px;
}

/* removed .end, .greg selectors, this is mine */

.end {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.greg {
    width: 50px; /* added width to decrease img size */
    margin: 0; /* removed margin, thats why you had to use padding to center the text with the image */
}

.end > p {
    font-weight: 700; /* added font-weight */
}

.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}


